.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  padding: 0rem;
  background: #242424;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  .overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
    
    #intro-content {
      display: table-cell;
      vertical-align: middle;

      h1 {
        font-family: 'Noa';
        font-weight: bold;
        font-size: 4rem;
        margin: 0;
        padding: 0;
      }
      @media (min-width: 992px) {
        h1 {
          font-size: 5.5rem;
        }
      }
  
      h3 {
        font-family: 'Noa';
      }
    }
  }


  @-webkit-keyframes scroll {
    100% {
      -webkit-transform: translateY(-66.6666%);
    }
  }
  @keyframes scroll {
    100% {
      transform: translateY(-66.6666%);
    }
  }

  .image-grid {
    overflow-y: hidden;
    padding: 0;

    .row {
      transform: translate3d(0, 0, 0);
      -webkit-animation: scroll 60s linear 0s infinite;
      animation: scroll 60s linear 0s infinite;
      @media (min-width: 992px) {
        -webkit-animation: scroll 100s linear 0s infinite;
        animation: scroll 100s linear 0s infinite;
      }

      img {
        width: 100%;
      }
    }
  }
}
