.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%), url('../img/bg-masthead.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  h1 {
    font-family: 'Noa';
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  @media (min-width: 992px) {
    h1 {
      font-size: 5.5rem;
    }
  }

  @-webkit-keyframes scroll {
    100% {
      -webkit-transform: translateY(-66.6666%);
    }
  }
  @keyframes scroll {
    100% {
      transform: translateY(-66.6666%);
    }
  }

  .image-grid {
    height: 70vh;
    overflow-y: hidden;

    .row {
      transform: translate3d(0, 0, 0);
      -webkit-animation: scroll 60s linear 0s infinite;
      animation: scroll 60s linear 0s infinite;

      img {
        width: 100%;
      }
    }
  }
}
