.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%), url('../img/bg-masthead.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    font-family: 'Noa';
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  @media (min-width: 992px) {
    height: 100vh;
    h1 {
      font-size: 5.5rem;
    }
  }

  @-webkit-keyframes flip {
    0% {
      -webkit-transform: rotateX(0deg);
    }
    10% {
      -webkit-transform: rotateX(180deg);
    }
    50% {
      -webkit-transform: rotateX(180deg);
    }
    60% {
      -webkit-transform: rotateX(360deg);
    }
    100% {
      -webkit-transform: rotateX(360deg);
    }
  }
  @keyframes flip {
    0% {
      -webkit-transform: rotateX(0deg);
    }
    10% {
      -webkit-transform: rotateX(180deg);
    }
    50% {
      -webkit-transform: rotateX(180deg);
    }
    60% {
      -webkit-transform: rotateX(360deg);
    }
    100% {
      -webkit-transform: rotateX(360deg);
    }
  }

  .image-grid {

    .col {        
      perspective: 1000px;

      .grid-image-box {
        transform-style: preserve-3d;
        position: relative;

        &:not(.delay) {          
          -webkit-animation: flip 16s linear 0s infinite;
          animation: flip 16s linear 0s infinite;
        }

        &.delay {
          -webkit-animation: flip 16s linear 8s infinite;
          animation: flip 16s linear 8s infinite;
        }

        div {
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          &:not(:first-child) {
            position: absolute;
            top: 0;
            left: 0;
            transform: rotateX(180deg)
          }

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
