@mixin border-radius($radius) {
-webkit-border-radius: $radius;
-moz-border-radius: $radius;
-ms-border-radius: $radius;
border-radius: $radius;
}

@mixin project-color($color) {
    h4 {
        color: $color;
    }
    .pictures {
        background: $color;
    }
}

#bookingModal {
    @include project-color(#0F3478)
}
#starbucksModal {
    @include project-color(#00653D)
}
#monclerModal {
    @include project-color(#2C1E4F)
}
#klmModal {
    @include project-color(#006E27)
}

.modal-content {
    border: 0;

    .modal-body {
        padding: 0;
    
        .modal-container {    
            display: flex;
            flex: auto;
            flex-direction: column;
            max-height: 100%;
            text-align: center;
    
            h1 {
                font-family: 'Noa';
                font-size: 2.5em;
                color: gray;
                margin: 16px;

                @media (min-width: 62em) {
                    font-size: 3em;
                }
            }
    
            #timeline {
                position: relative;
                display: table; //*For Firefox
                height: 100%;
                text-align: left;
                margin: {
                    left: auto;
                    right: auto;
                    top: 1rem;
                }
                div {
                    &:after {
                        content: '';
                        width: 2px;
                        position: absolute;
                        top: 1.5rem;
                        bottom: -1.5rem;
                        left: 50px;
                        z-index: 1;
                        background: #C5C5C5;
                    }
                    &:last-child:after {
                        width: 0px;
                    }
        
                    div {
                        position: relative;
                        font-family: 'Bitter';
                        padding-right: 2rem;

                        h4 {
                            margin: 0;
                            padding: 0 0 0 79px;
                            @media (min-width: 62em) {
                                font-size: 2em;
                                font-weight: 400;
                            }
                        }

                        ul {
                            list-style-type: none;
                            margin: 0.35rem 0 1.2rem;
                            max-width: 32rem;
                            font-size: 0.9em;
                            padding: 0 0 0 71px;
                            @media (min-width: 62em) {
                                font-size: 1.1em;
                            }
                            &:first-of-type:after {
                                content: '';
                                width: 14px;
                                height: 14px;
                                background: #FFFFFF;
                                border: 2px solid #C5C5C5;
                                @include border-radius(50%);
                                position: absolute;
                                left: 44px;
                                top: 8px;
                                z-index: 2;
                            }
                            li {
                                margin-left: .5rem;
                                &:before {
                                    margin-left: -.5rem;
                                    padding-right: .3rem;
                                }
                                &:not(:first-child) {
                                    margin-top: .5rem;
                                }
                            }
                        }
                    }
                }
            }
    
            .pictures {
                margin-top: 40px;
                img {
                    width: 100%;
                    padding: 0 25px 25px 25px;
                    margin-top: -40px;
                }
            }

            .logo {

                img {
                    height: 50px;
                    max-width: 50%;
                    margin: 10px;
                }
            }
        }
    }
}